/*######################################
                GENERAL
######################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

General {
    font-family: Roboto, Open Sans;
    color:
        #202124 #4a4a4a #f7f7f7 #fff;
}

/*######################################
                HEADER
######################################*/




/*######################################
                MAIN
######################################*/




/*######################################
                FOOTER
######################################*/